<html>
<head>
  <title>Blood Donate Dashboard</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>

  <header class="navbar">
    <h2 >Blood Donate Dashboard</h2>
    <div class="user-info">
      <span>Welcome, Donor</span>
      <a href="#" class="logout-link">Logout</a>
    </div>
  </header>

  <main class="dashboard-body">

    <div class="stats-container">
      <div class="card">
        <h3>Blood Group</h3>
        <p class="stat-red">ANY</p>
      </div>
      <div class="card">
        <h3>Total Donations</h3>
        <p>5 Times</p>
      </div>
      <div class="card">
        <h3>Eligibility</h3>
        <p class="stat-green">Eligible</p>
      </div>
    </div>

    <div class="table-card">
      <h3>Urgent Blood Requests</h3>
      <table>
        <thead>
          <tr>
            <th>Patient Name</th>
            <th>Blood Type</th>
            <th>Hospital</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Rahim Ahmed</td>
            <td><strong>O+</strong></td>
            <td>Square Hospital</td>
            <td><button class="btn">Donate</button></td>
          </tr>
           <tr>
            <td>Nafis</td>
            <td><strong>A+</strong></td>
            <td>SADAR Hospital</td>
            <td><button class="btn">Donate</button></td>
          </tr>
          <tr>
            <td>Farhana Yasmin</td>
            <td><strong>O+</strong></td>
            <td>Dhaka Medical</td>
            <td><button class="btn">Donate</button></td>
          </tr>

          <tr>
            <td>Yasmin akter</td>
            <td><strong>AB+</strong></td>
            <td>feni Medical</td>
            <td><button class="btn">Donate</button></td>
          </tr>

          <tr>
            <td>Nasir hossin</td>
            <td><strong>O+</strong></td>
            <td>kishoreganj Medical collage</td>
            <td><button class="btn">Donate</button></td>
          </tr>

          
        </tbody>
      </table>
      
    </div>
    <div id="lastdiv">
        <h2>
              - - - - - - - - - - - - - - - -
             Thank you - - - - - 
             - - - - - - - - - - -
             </h2>
    </div>

  </main>

</body>
</html>
