<html>
    <head>
        <title>Lifeline: Homepage</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>

    <body>
        <from>
            <header>
            <div class="tag-container">
                <nav>
                    <a href="#home">Home</a>  
                    <a href="#findBlood">Find Blood</a> 
                    <a href="#becomeDonor">Become a Donor</a>
                    <a href="#about">About</a>
                    
                    <button>Login</button>
                    <button>Signup</button>
                </nav>
            </div>
            </header>

            <div>
                <h1>Every Dorp Can Save Life</h1>
            </div>
        </from>
    </body>

</html>